@import '../standards.scss';

.programming-experience {
  font-size: 10pt;
  text-align: left;

  &__container {
      margin-top: 20px;
  }
  
  &__section-label {
    display: inline;
    margin-right: 5px;
  }

  &__section {
    display: inline;
  }
}